@media screen and (min-width: 60em) {

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  header ul {
    display: flex;
    gap: 20px;
  }

  header nav {
    margin-left: auto;
  }

  header li {
    margin: 0;
  }

  header a {
    border-top: 0;
  }

  main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    margin-top: 20px;
  }

  .sidebar {
    margin-top: 0;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .cards li {
    margin-bottom: 0;
  }
}
